ul {
    z-index: -1;   
    position: fixed;
    top: 110px;
    left: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    font-size: 18px;
    position: absolute;
    height: 58%;
  }
  


li {

    background-color: #686565;
    position: relative;
    top: 2px;
    
}

nav ul li:hover{
    background-color: #272626;
    transition: .3s;
}


li a, a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

span{
    color: #ffffff;   
   }

nav ul li a{

    color: #fffefe;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: #10bbf0;
    transition: .3s;
}

.h {

    color: rgb(0, 0, 0);
    font-size: 28px;
}


h2 {
 
border: 2px solid #10bbf0;
padding: 10px;
background-color: #10bbf0;
color: #ffffff;
position: fixed;
top: 0;
left: 0;
width: 100vw;
margin: 0;
    
      
    
  }
  
  h2 a {
    color: black;
    text-decoration: none;
  }
  
  

.especialistas-section {
    
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}