
ul {
    z-index: -1;   
    position: absolute;
    top: 110px;
    left: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    font-size: 18px;
    height: 58%;
  }
  


li {

    background-color: #686565;
    position: relative;
    top: 2px;
    
}

nav ul li:hover{
    background-color: #272626;
    transition: .3s;
}


li a, a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav{
    display: fixed;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}


.oculto {
  display: none; 
}

#show-menu {
  position: absolute;
  top: 25px;
  right: 0;
  z-index: 1;
}

#ocultar-menu{
  position: absolute;
  top: 25px;
  right: 0;
  z-index: 2;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #0077FF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button {
  background-color: #0055CC;
}



span{
    color: #ffffff;   
   }

nav ul li a{

    color: #fffefe;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: #10bbf0;
    transition: .3s;
}

.h {

    color: rgb(0, 0, 0);
    font-size: 28px;
}


h2 {
 
border: 2px solid #10bbf0;
padding: 10px;
background-color: #10bbf0;
color: #ffffff;
position: fixed;
top: 0;
left: 0;
width: 100vw;
margin: 0;
    
      
    
  }
  
  h2 a {
    color: black;
    text-decoration: none;
    
  }


  .color{

    color: #10bbf0;
  }
  
  
.especialistas-section {
    z-index: -2;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    text-align: center;
  }